*{
    margin: 0;
}

.start-game-btn,
.start-game-btn:after {
  margin-left: 43% ;
  margin-top: 20px;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  background-color: #00E6F6;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: black;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start-game-btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.start-game-btn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .start-game-btn,
  .start-game-btn:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
.playing-div{
  float: left;
  width: 50%;
  
}
.dealers-hand{
  display: flex;
  padding-left: 240px;
  padding-top: 20px;
  font-family: 'DynaPuff', cursive;
  font-size: 30px;

}
.dealers-cards{
  padding-left: 243px;
  padding-top: 5px;
  padding-bottom: 50px;
  font-family: 'DynaPuff', cursive;
  font-size: 23px;
}
.dealers-sum{
  padding-left: 240px;
  font-family: 'DynaPuff', cursive;
}
.players-hand{
  display: flex;
  padding-top: 20px;
  padding-left: 240px;
  font-family: 'DynaPuff', cursive;
  font-size: 30px;
}
.players-cards{
  padding-left: 240px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'DynaPuff', cursive;
  font-size: 23px;
}
.players-sum{
  padding-left: 240px;
  font-family: 'DynaPuff', cursive;
}
.hidden-card{
  padding-left: 240px;
  padding-top: 30px;
  font-family: 'DynaPuff', cursive;
  font-size: 23px;
  height: 220px;
  padding-bottom: 0px;
}
.buttons{
    position: absolute;
    margin-top: 100px;
    margin-left: 42%;
}
.hit-btn {
  background-color:#FF013C;
  border-radius: 40px;
  box-sizing: border-box;
  color: black;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.hit-btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;

}
.stay-btn{
  margin-top: 30px;
  background-color:#FF013C;
  border-radius: 40px;
  box-sizing: border-box;
  color: black;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}
.stay-btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
.new-game-btn{
  background-color: #000303;
  border-radius: 40px;
  box-sizing: border-box;
  color: whitesmoke;
  display: block;
  height: 40px;
  font-size: 1em;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
 
}
.new-game-btn:hover{
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
.new-btn-div{
  margin-left: 87%;
}
.result-dark {
  position: absolute;
  margin-top: 20%;
  margin-left: 43%;
  font-family: 'DynaPuff', cursive;
  font-size: 23px;
  background-color: #00E6F6;
}
.result-light{
  position: absolute;
  margin-top: 20%;
  margin-left: 43%;
  font-family: 'DynaPuff', cursive;
  font-size: 23px;
  background-color: black;
}
.cards{
  height: 200px;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dark{
  background-color: #000000;
  color: white;
  /* height: 100%; */
}
.light{
  background-color: #00E6F6;
  height: 100%;  
  color: black;
}
.nav-bar{
  display: flex;
  padding: 30px;
  padding-left: 40%;
  background-color: #FF013C;
  border: 5px solid black;
}
.header{
  background-color: #FF013C;
  font-family: 'DynaPuff', cursive;
  font-size: 35px;
}
.dark-part{
  margin-left: 0px;
  font-family: 'DynaPuff', cursive;
  font-size: 20px;
  margin-left: 10px;
  background-color: #FF013C;
}
.light-part{
  margin-left: 53%;
  font-family: 'DynaPuff', cursive;
  font-size: 20px;
  margin-right: 10px;
  background-color: #FF013C;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #FF013C;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

